{% extends "layout.html" %}


{% block header %}
<a href="/" class="logo">
			<img src="static/images/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/">Home</a>
			</li>
			<li class="selected">
				<a href="/about">About Me</a>
			</li>
			<li>
				<a href="/gallery">Gallery</a>
			</li>
			<li>
				<a href="/rickroll">Rick</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
 <center><h1>About Me!</h1></center>
 
        <center>
		<span class="center"><img src="/static/faceboard/4.jpg" width='400' /></span>
        <br>
        <br>
        <p><h2>Billy Andrews</h2></p>
        
        
		<p>
		I started an interest in computers when I was at a very young age, when computers only had MS-DOS on them. 
		Playing computer games and learning HTML code became an everyday event for me. 
		Further progression lead to studying computer science at UMW. 
		My favorite part of CS has been the coding. 
		I like the challenge of starting a new puzzle to piece together.
		</p>
		<br>
		<p>
		    I was born in New York and moved to Virginia when I was 4 years old. 
		    I graduated from Colonial Forge High School in 2003. 
		    I have a very big family, spread all across the US, some of which I have still not met. 
		    I have a dog named Thor who goes everywhere with me. 
		    I like to go on a lot of hikes and enjoy summiting mountains.
		    </p>
		   <br> 
		<p>
		  I joined the Army in 2007 where I specialized in Intelligence, Surveillance, Reconnaissance, Electronic Warfare, and Digital Network Analysis. 
		  I’ve worked at the NSA and also spent a year in Afghanistan as a Tactical Aerial Intercept Analyst for L3-Stratis. 
		  I hope to get a job in Computer Science in Dahlgren or Reston. 
 		</p>
		    <br>
		
		    <h2><b>Did you know...</b></h2>
		    <p2>
   - Loves to ride motorcycles<br>
   - Plays the drums and guitar<br>
   - Enjoys hiking and being outdoors<br>
   - Photography is a favorite hobby<br>
		</p2>
		<br>
		</center>
{% endblock %}