{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="/search"><img src="/static/images/original_bg_products.png" width=50px></a>
	
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>

		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
			
				{% if ( ( user[5] == 'Administrator') ):  %}
					<li class="nav-item selected"><a href="/addwarehouse" class="nav-link"><p class="bg3">Add Warehouse</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/manager" class="nav-link"><p class="bg3">Manager</p></a></li>
					<li class="nav-item"><a href="/form" class="nav-link"><p class="bg3">New Registration</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/sales" class="nav-link"><p class="bg3">Sales Associate</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Customer') or ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<!--<li class="nav-item"><a href="/customer" class="nav-link"><p class="bg3">Customer</p></a></li>-->
					<li class="nav-item"><a href="/search" class="nav-link"><p class="bg3">Product Search</p></a></li>
				{% endif %}
				
			</ul>
	
			<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
				<li class="nav-item"><a href="/profile" class="nav-link"><p class="bg3">{{user[2]}} - {{user[5]}}</p></a></li>
				<li class="nav-item"><a href="/logout" class="nav-link"><p class="bg3">Logout</p></a></li>
			</ul>

		</div>
	</div>
</nav>

{% endblock %}


{% block content %}
<br>
<br>
<!--<center>-->
 	<div class="container-fluid card25 max">
 		<!-- disabled form functionality until back-end is properly setup for this function to work -->
 		<!--<form method="POST" action="/form2">-->
		<form method="POST">
			
			<h3 class="bg2">
				Add New Warehouse
			</h3>
			
			<br>
			<br>
			
			<div class="form-group row">
				<label for="warehouseID" class="col-sm-4 col-form-label right">Warehouse ID: </label>
				<div class="col-sm-8">
					<input type="text" id="warehouseID" class="form-control" name="warehouseID" placeholder="WH341" />
				</div>
			</div>
			<div class="form-group row">
				<label for="name" class="col-sm-4 col-form-label right">Warehouse Name: </label>
				<div class="col-sm-8">
					<input type="text" id="name" class="form-control" name="name" placeholder="BG of Central Virginia" />
				</div>
			</div>
			<div class="form-group row">
				<label for="address" class="col-sm-4 col-form-label right">Address: </label>
				<div class="col-sm-8">
					<input type="text" id="address" class="form-control" name="address" placeholder="116 Sylvia Rd" />
				</div>
			</div>
			<div class="form-group row">
				<label for="address2" class="col-sm-4 col-form-label right">Address 2: </label>
				<div class="col-sm-8">
					<input type="text" id="address2" class="form-control" name="address2" placeholder="Suite C" />
				</div>
			</div>
			<div class="form-group row">
				<label for="city" class="col-sm-4 col-form-label right">City: </label>
				<div class="col-sm-8">
					<input type="text" id="city" class="form-control" name="city" placeholder="Ashland" />
				</div>
			</div>
			<div class="form-group row">
				<label for="state" class="col-sm-4 col-form-label right">State: </label>
				<div class="col-sm-8">
					<select class="form-control" name="state" id="state"/>
						<option></option>
						<option>Alabama</option>
						<option>Alaska</option>
						<option>Arizona</option>
						<option>Arkansas</option>
						<option>California</option>
						<option>Colorado</option>
						<option>Connecticut</option>
						<option>Disctrict of Columbia</option>
						<option>Delaware</option>
						<option>Florida</option>
						<option>Georgia</option>
						<option>Hawaii</option>
						<option>Idaho</option>
						<option>Illinois</option>
						<option>Indiana</option>
						<option>Iowa</option>
						<option>Kansas</option>
						<option>Kentucky</option>
						<option>Louisiana</option>
						<option>Maine</option>
						<option>Maryland</option>
						<option>Massachusetts</option>
						<option>Michigan</option>
						<option>Minnesota</option>
						<option>Mississippi</option>
						<option>Missouri</option>
						<option>Montana</option>
						<option>Nebraska</option>
						<option>Nevada</option>
						<option>New Hampshire</option>
						<option>New Jersey</option>
						<option>New Mexico</option>
						<option>New York</option>
						<option>North Carolina</option>
						<option>North Dakota</option>
						<option>Ohio</option>
						<option>Oklahoma</option>
						<option>Oregon</option>
						<option>Pennsylvania</option>
						<option>Rhode Island</option>
						<option>South Carolina</option>
						<option>South Dakota</option>
						<option>Tennessee</option>
						<option>Texas</option>
						<option>Utah</option>
						<option>Vermont</option>
						<option>Virginia</option>
						<option>Washington</option>
						<option>West Virginia</option>
						<option>Wisconsin</option>
						<option>Wyoming</option>
						<option>Guam</option>
						<option>Puerto Rico</option>
						<option>Virgin Islands</option>
					</select>
				</div>
			</div>
			<div class="form-group row">
				<label for="zipcode" class="col-sm-4 col-form-label right">Zipcode: </label>
				<div class="col-sm-8">
					<input type="text" id="zipcode" class="form-control" name="zipcode" placeholder="23005" />
				</div>
			</div>
			<div class="form-group row">
				<label for="phone" class="col-sm-4 col-form-label right">Phone: </label>
				<div class="col-sm-8">
					<input type="tel" id="phone" class="form-control" name="phone" placeholder="804-897-5983" />
				</div>
			</div>
			<div class="form-group row">
				<label for="fax" class="col-sm-4 col-form-label right">Fax: </label>
				<div class="col-sm-8">
					<input type="text" id="fax" class="form-control" name="fax" placeholder="804-897-5987" />
				</div>
			</div>

			

			<br>
			
			<input type="submit" value="SUBMIT"  class="bgSubmit btn btn-outline-dark"/>
			
			<br>
			<br>
			
			<h6>
				All fields required for signup.
			</h6>
		</form>
	</div>
{% endblock %}