{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="/search"><img src="/static/images/original_bg_products.png" width=50px></a>
	
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>

		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
			
				{% if ( ( user[5] == 'Administrator') ):  %}
					<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3 selected">Administrator</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/addwarehouse"><span class="bg3 selected">Add Warehouse</span></a>
				        </div>
      				</li>
					
				{% endif %}
				
				{% if ( ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Manager</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="/form" class="dropdown-item"><span class="bg3">New Registration</span></a>
							<a href="/remove" class="dropdown-item"><span class="bg3">Remove Account</span></a>
							<a href="/manageitems" class="dropdown-item"><span class="bg3">Manage Items</span></a>
				        </div>
      				</li>

				{% endif %}
				
				{% if ( ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Sales Associate</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="/altercustomer" class="dropdown-item"><span class="bg3">Edit Profile</span></a>
				        </div>
      				</li>
				{% endif %}
				
				{% if ( ( user[5] == 'Customer') or ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Customer</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					        <a href="/search" class="dropdown-item"><span class="bg3">Product Search</span></a>
							<a href="/invoice" class="dropdown-item"><span class="bg3">Invoice</span></a>
				        </div>
      				</li>
				{% endif %}
				
			</ul>
	
			<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
				<li class="nav-item"><a href="/profile" class="nav-link"><span class="bg3"><i class="fa fa-user" aria-hidden="true"></i>{{user[2]}} - {{user[5]}}</span></a></li>
				<li class="nav-item"><a href="/logout" class="nav-link"><span class="bg3"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</span></a></li>
				<li class="nav-item"><a href="/cart" class="nav-link"><span class="bg3"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart </span><spanNotification class="badge badge-pill badge-danger">{{cartCount}}</span></a></li>
			</ul>

		</div>
	</div>
</nav>

{% endblock %}


{% block content %}
<br>
<br>
<center>
 	<div class="container-fluid card50 max">
 		<!-- replace action below with destination html; "/form2" was there before I disabled it -->
		<form method="POST" action="#"> 
			
			<h3 class="bg2">
				New Warehouse
			</h3>
			
			<br>
			<br>
			
			<table>
				<tr>
					<td class="right">Warehouse Owner: </td>
					<td><input type="email" class="form-control" id="owner" name="owner" placeholder="jsmith@bg.com"/></td>
				</tr>
				<tr>
					<td class="right">Warehouse Name: </td>
					<td><input type="text" class="form-control" id="name" name="name" placeholder="BG of Central Virginia"/></td>
				</tr>
				<tr>
					<td class="right">Address: </td>
					<td><input type="email" class="form-control" id="address" name="address" placeholder="116 Sylvia Rd" /></td>
				</tr>
				<tr>
					<td class="right">City: </td>
					<td><input type="text" class="form-control" id="city" name="city" placeholder="Ashland"/></td>
				</tr>
				<tr>
					<td class="right">State:</td>
					<td>
						<select class="form-control" name="state" id="state"/>
							<option></option>
							<option>Alabama</option>
							<option>Alaska</option>
							<option>Arizona</option>
							<option>Arkansas</option>
							<option>California</option>
							<option>Colorado</option>
							<option>Connecticut</option>
							<option>Disctrict of Columbia</option>
							<option>Delaware</option>
							<option>Florida</option>
							<option>Georgia</option>
							<option>Hawaii</option>
							<option>Idaho</option>
							<option>Illinois</option>
							<option>Indiana</option>
							<option>Iowa</option>
							<option>Kansas</option>
							<option>Kentucky</option>
							<option>Louisiana</option>
							<option>Maine</option>
							<option>Maryland</option>
							<option>Massachusetts</option>
							<option>Michigan</option>
							<option>Minnesota</option>
							<option>Mississippi</option>
							<option>Missouri</option>
							<option>Montana</option>
							<option>Nebraska</option>
							<option>Nevada</option>
							<option>New Hampshire</option>
							<option>New Jersey</option>
							<option>New Mexico</option>
							<option>New York</option>
							<option>North Carolina</option>
							<option>North Dakota</option>
							<option>Ohio</option>
							<option>Oklahoma</option>
							<option>Oregon</option>
							<option>Pennsylvania</option>
							<option>Rhode Island</option>
							<option>South Carolina</option>
							<option>South Dakota</option>
							<option>Tennessee</option>
							<option>Texas</option>
							<option>Utah</option>
							<option>Vermont</option>
							<option>Virginia</option>
							<option>Washington</option>
							<option>West Virginia</option>
							<option>Wisconsin</option>
							<option>Wyoming</option>
							<option>Guam</option>
							<option>Puerto Rico</option>
							<option>Virgin Islands</option>
						</select>
					</td>
				</tr>

				<tr>
					<td class="right">Zipcode: </td>
					<td><input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="23005"/></td>
				</tr>
				<tr>
					<td class="right"> Level</td>
					<td><input type="tel" class="form-control" id="level" name="level" placeholder="0-3 (main - mobile)"/></td>
				</tr>
			</table>
			
			<br>
			
			<input type="submit" value="SUBMIT"  class="bgSubmit btn btn-outline-dark"/>
			
			<br>
			<br>
			
			<h6>
				All fields required for signup.
			</h6>
		</form>
	</div>
</center>
<br>	
{% endblock %}