{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="/login"><img src="/static/images/original_bg_products.png" width=50px></a>

	</div>
</nav>

{% endblock %}


{% block content %}
<br>
<br>
<center>

 	<div class="container-fluid card50">

			<h3 class="bg2">
				BG Member Login
			</h3>

			<br>
			<br>

				<form method="POST" action="/search">
			<div class="col-lg-6">
	  			<div class="row">
	    				<div class="input-group">
	      					<input type="email" class="form-control" name="username" placeholder="Email" />
	    				</div>
				</div>
				
				<br>
				
				<div class="row">
	    				<div class="input-group">
	      					<input type="password" class="form-control" name="password" placeholder="Password"/>
	    				</div>
				</div>
				
				<br>
	  			
	  			<input type="submit" value="LOGIN" class="bgSubmit btn btn-outline-dark" />
  			</div>
		</form>
				<br>
				
				<div class="container-fluid">
					<div class="alert alert-danger" role="alert">
						<h4 class="alert-heading" style="text-align:left;"><strong>Login Error:</strong></h4>
						<br>
						<div style="text-align:left;">Username / Password incorrect.</div>
						<hr>
						<div style="text-align:left;">Please check your credentials and try again.</div>
					</div>
				</div>
				
				<!--<h6 style="color:#FE5858;"><strong>An error has occurred. <br>Please check your credentials and try again.</strong></h6>-->
	</div>
</center>
<br>	
{% endblock %}