{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="#"><img src="/static/images/original_bg_products.png" width=50px></a>

	</div>
</nav>

{% endblock %}


{% block content %}
<br>
<br>
<center>

 	<div class="container-fluid card50">
		<div class="card">

			<h3 class="card-header bg2">
				BG Member Login
			</h3>
			
			<div class="card-body">
				
				<form method="POST" action="/search">
					<div class="col-lg-6">
			  			<div class="row">
			    				<div class="input-group">
			      					<span class="input-group-btn">
			        					<button class="btn btn-dark" type="button">Email</button>
			      					</span>
			      					<input type="email" class="form-control" name="username" placeholder="username@bg.com" />
			    				</div>
						</div>
						
						<br>
						
						<div class="row">
			    				<div class="input-group">
			      					<span class="input-group-btn">
			        					<button class="btn btn-dark" type="button" >Password</button>
			      					</span>
			      					<input type="password" class="form-control" name="password" placeholder="P@55w0Rd!"/>
			    				</div>
						</div>
						
						<br>
			  			
			  			<input type="submit" value="LOGIN" class="bgSubmit btn btn-outline-dark" />
		  			</div>
				</form>
				<br>
				<h6 style="color:red;">An error has occurred. Please try again.</h6>
			</div>
		</div>
	</div>
</center>
<br>	
{% endblock %}