{% extends "layout.html" %}



{% block header %}
<a href="/" class="logo">
			<img src="static/faceboard/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About Me</a>
			</li>
			<li>
				<a href="/gallery">Gallery</a>
			</li>
			<li>
				<a href="/form">Signup</a>
			</li>
			<li class="selected">
				<a href="/form3">Database</a>
			</li>
			<li>
				<a href="https://gitlab.com/wandrews1/webserver">GitLab</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br>
<br>
 	<center>
 		<h1>FACEBOARD USERS</h1>
  
		<h3>Currently registered FaceBoarders:</h3>
		<table>
			<tr>
				<th>LAST NAME</th>
				<th>FIRST NAME</th>
				<th>DOB</th>
				<th>EMAIL</th>
			</tr>
			{% for person in people %}
			<tr>
				<td>{{person.lname}}</td>
				<td>{{person.fname}}</td>
				<td>{{person.dob}}</td>
				<td>{{person.email}}</td>
			</tr>
			{% endfor %}
		</table>

	</center>
<br>
{% endblock %}