{% extends "layout.html" %}



{% block header %}
<a href="/" class="logo">
			<img src="static/faceboard/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About Me</a>
			</li>
			<li>
				<a href="/gallery">Gallery</a>
			</li>
			<li>
				<a href="/form">Signup</a>
			</li>
			<li class="selected">
				<a href="/form3">Database</a>
			</li>
			<li>
				<a href="https://gitlab.com/wandrews1/webserver">GitLab</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br>
<br>
 	<center>
 		<h1>FACEBOARD USERS</h1>
  
		<h2>Congratulations {{fname}}! <br><br>You have successfully registered for FaceBoard.</h2>

		<h3>Currently registered Faceboarders:</h3>
		<table>
			<tr>
				<th>LAST NAME</th><th>FIRST NAME</th><th>DOB</th><th>EMAIL</th>
			</tr>
			{% for person in results %}
			<tr>
				<td>{{person[1]}}</td><td>{{person[0]}}</td><td>{{person[2]}}</td><td>{{person[3]}}</td>
			</tr>
			{% endfor %}
		</table>

	</center>
<br>
{% endblock %}