{% extends "layout.html" %}



{% block header %}
<a href="/form" class="logo">
			<img src="static/faceboard/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/chat">Chat</a>
			</li>
			<li>
				<a href="/gallery">Gallery</a>
			</li>
			<li>
				<a href="/search">Search</a>
			</li>
			<li class="selected">
				<a href="/form3">Database</a>
			</li>
			<li>
				<a href="https://gitlab.com/wandrews1/webserver">GitLab</a>
			</li>
			<li>
				<a href="/logout">{{user[2]}}{{user[4]}}</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br>
<br>
 	<center>
		<h3>Currently registered Faceboarders:</h3>
		<table>
			<tr>
				<th>LAST NAME</th><th>FIRST NAME</th><th>DOB</th><th>ZIP CODE</th><th>EMAIL</th>
			</tr>
			{% for person in results %}
			<tr>
				<td>{{person[1]}}</td><td>{{person[0]}}</td><td>{{person[2]}}</td><td>{{person[4]}}</td><td>{{person[3]}}</td>
			</tr>
			{% endfor %}
		</table>

	</center>
<br>
{% endblock %}