{% extends "layout.html" %}


{% block header %}
		<a href="/form" class="logo" style="text-decoration:none">
			<p class="faceboard">FACEBOARD</p>
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="/form"><p class="faceboard3">Signup</p></a>
			</li>
			<li>
				<a href="/login"><p class="faceboard3">Login</p></a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br>
<br>

 	<center>
 		
		<h3 class="faceboard2">Complete this form for submission.</h3>
		<form method="POST" action="/form2">
			<table>
				<tr>
					<td>First Name: </td>
					<td><input type="text" name="fname" placeholder="First Name" /></td>
				</tr>
				<tr>
					<td>Last Name: </td>
					<td><input type="text" name="lname" placeholder="Last Name" /></td>
				</tr>
				<tr>
					<td>Email: </td>
					<td><input type="email" name="email" placeholder="Email Address" /></td>
				</tr>
				<tr>
					<td>Zipcode: </td>
					<td><input type="number" name="zipcode" placeholder="Zipcode" /></td>
				</tr>
				<tr>
					<td>Date of Birth: </td>
					<td><input type="date" name="dob" placeholder="DD-MM-YYYY" /></td>
				</tr>
				<tr>
					<td>Password: </td>
					<td><input type="password" name="pw1" placeholder="Password"/></td>
				</tr>
				<tr>
					<td>Retype Password: </td>
					<td><input type="password" name="pw2" placeholder="Retype Password"/></td>
				</tr>
				<br>
			</table>
			<input type="submit" value="SUBMIT"  class="faceboardSubmit"/>
		</form>
		<br>
		All fields are required for signup.
	</center>
<br>	
{% endblock %}