{% extends "layout.html" %}


{% block header %}
<a href="/" class="logo">
			<img src="static/images/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About Me</a>
			</li>
			<li class="selected">
				<a href="/gallery">Gallery</a>
			</li>
			<li>
				<a href="https://gitlab.com/wandrews1/webserver">GitLab</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
 <center><h1>Gallery</h1></center>

        <center>
        	
        {% for img in photos %}
	 	<span class="center"><img src={{img}} width='500'/></span><br>
 		{% endfor %} 
        
        <br>
        </center>
        
{% endblock %}