{% extends "layout.html" %}


{% block header %}
<a href="/" class="logo">
			<img src="static/faceboard/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li class="selected">
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About Me</a>
			</li>
			<li>
				<a href="/gallery">Gallery</a>
			</li>
			<li>
				<a href="/form">Signup</a>
			</li>
			<li>
				<a href="/form3">Database</a>
			</li>
			<li>
				<a href="https://gitlab.com/wandrews1/webserver">GitLab</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br><br>
 <center><h1>Welcome to Faceboard!</h1></center>
 
        <center>
        	<div>
        		<photo><img src="/static/faceboard/4.jpg" width=100%/></photo>
        	</div>
        	
		<br>
		<br>
		
		The date is: {{dt.date}}<br>
		The time is: {{dt.time}} ZULU<br>
		<h2>
		{% if day == 'Friday' %}
		Thank Goodness Its Friday!
		{% endif %}
		{% if day == 'Thursday' %}
		Tomorrow is Friday!
		{% endif %}
		{% if day == 'Wednesday' %}
		HUMP DAY!
		{% endif %}
		{% if day == 'Tuesday' %}
		Three more days until Friday!
		{% endif %}
		{% if day == 'Monday' %}
		Somebody's got a case of The Mondays...
		{% endif %}
		{% if day == 'Sunday' %}
		SUNDAY FUNDAY!
		{% endif %}
		{% if day == 'Saturday' %}
		ITS THE WEEKEND!
		{% endif %}
		</h2>
		<br>
		</center>
{% endblock %}