{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="/search"><img src="/static/images/original_bg_products.png" width=50px></a>
	
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>

		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
			
				{% if ( ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/addwarehouse" class="nav-link"><p class="bg3">Add Warehouse</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/manager" class="nav-link"><p class="bg3">Manager</p></a></li>
					<li class="nav-item"><a href="/form" class="nav-link"><p class="bg3">New Registration</p></a></li>
					<li class="nav-item"><a href="/remove" class="nav-link"><p class="bg3">Remove Account</p></a></li>
					<li class="nav-item"><a href="/manageitems" class="nav-link"><p class="bg3">Manage Items</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/sales" class="nav-link"><p class="bg3">Sales Associate</p></a></li>
					<li class="nav-item"><a href="/altercustomer" class="nav-link"><p class="bg3">Alter Customer</p></a></li>	
				{% endif %}
				
				{% if ( ( user[5] == 'Customer') or ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<!--<li class="nav-item"><a href="/profile" class="nav-link"><p class="bg3">Customer</p></a></li>-->
					<li class="nav-item"><a href="/search" class="nav-link"><p class="bg3">Product Search</p></a></li>
					<li class="nav-item selected"><a href="/invoice" class="nav-link"><p class="bg3">Invoice</p></a></li>
				{% endif %}
				
			</ul>
	
			<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
				<li class="nav-item"><a href="/profile" class="nav-link"><p class="bg3"><i class="fa fa-user" aria-hidden="true"></i>{{user[2]}} - {{user[5]}}</p></a></li>
				<li class="nav-item"><a href="/logout" class="nav-link"><p class="bg3"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</p></a></li>
			</ul>

		</div>
	</div>
</nav>

{% endblock %}


{% block content %}
<br>
<br>
<center>
	<form method="POST" action="/searchresults">
		<div class="container-fluid card50">
			<div class="container-fluid bggrey">
				<h3 class="bg2">
					Invoices
				</h3>
				
				<br>
				<br>
							
			</div>
			<br>
			<br>
			<table class="table table-hover table-sm table-dark">
				<!--<thead>-->
				<!--	<tr>-->
				<!--		<th scope="col">Product ID</th>-->
				<!--		<th scope="col">Price</th>-->
				<!--		<th scope="col">Quantity</th>-->
				<!--		<th scope="col">Category</th>-->
				<!--		<th scope="col">Name</th>-->
				<!--		<th scope="col">View</th>-->
				<!--	</tr>-->
				<!--</thead>-->
				<tbody>
					This has not yet been implemented.
					Waiting for database construction of Invoices.
					<br>
					It will, however, still email you an invoice. Check your email.
					<!--{% if ( results != 'No Results.' ):  %}-->
					<!--	{% for item in results %}-->
					<!--			<th scope="row">{{item[0]}}</th>-->
					<!--			<td>{{item[1]}}</td>-->
					<!--			<td>{{item[2]}}</td>-->
					<!--			<td>{{item[3]}}</td>-->
					<!--			<td>{{item[4]}}</td>-->
					<!--			<td>-->
									<!-- Button trigger modal -->
					<!--				<button type="button" class="btn btn btn-outline-dark" data-toggle="modal" data-target="#exampleModal">-->
					<!--				  View-->
					<!--				</button>-->
					<!--			</td>-->
					<!--		</tr>-->
							
							
							<!-- Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <h5 class="modal-title" id="exampleModalLabel"><strong>{{item[0]}}</strong>   {{item[4]}}</h5>
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							          <span aria-hidden="true">&times;</span>
							        </button>
							      </div>
							      <div class="modal-body">
							        {{item[5]}}
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn btn-outline-warning" data-dismiss="modal">Close</button>
							        <button type="button" class="btn btn btn-outline-dark"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Add to Cart</button>
							      </div>
							    </div>
							  </div>
							</div>

						{% endfor %}
					{% else %}
						<tr>
							
						</tr>
						No Results!
					{% endif %}
						
					
					
				</tbody>
			</table>
		</div>
	</form> 
<br>
</center>




{% endblock %}
