<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Faceboard</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="static/js/mobile.js"></script>
</head>
<body>
	<div id="header">
	
	{% block header %}{% endblock %}
	
	</div>
	
	<div class="content">
	
	{% block content %}{% endblock %}
	
	</div>
	
	
	<div id="footer">
		<div>
			<p>&copy; 2017 by WSA. All rights reserved.</p>
			<ul>
				<li>
					<a href="https://twitter.com/Scripture187" id="twitter">twitter</a>
				</li>
				<li>
					<a href="https://www.facebook.com/billy.andrews.rocks" id="facebook">facebook</a>
				</li>
				<li>
					<a href="https://plus.google.com/u/0/106806447992470539165" id="googleplus">googleplus</a>
				</li>
				<li>
					<a href="https://github.com/wandrews1" id="github">github</a>
				</li>
			</ul>
		</div>
	</div>
</body>
</html>
