<!doctype html>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Faceboard</title>
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/mobile.css" media="screen and (max-width : 568px)">
	<script type="text/javascript" src="static/js/mobile.js"></script>
</head>
<body>
	<div id="header">
	
	{% block header %}{% endblock %}
	
	</div>
	
	<div class="content">
	
	{% block content %}{% endblock %}
	
	</div>
	
	
	<div id="footer">
		<div><center>
			<p><br>&copy; 2017 by WSA. All rights reserved.<br>
			<a href="https://gitlab.com/wandrews1/webserver" id="gitlab"><img src="/static/faceboard/gitc.png" width=44px></a></p>
			</center>
		</div>
	</div>
</body>
</html>
