<!doctype html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<title>Faceboard</title>
	
	<link rel="icon" href="static/faceboard/favicon-32x32.png">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/mobile.css" media="screen and (max-width : 800px)">
	<script type="text/javascript" src="static/js/mobile.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
	<style>
	table, th, td {
	    padding: 5px;
	}
	table {
	    border-spacing: 5px;
	}
	</style>
</head>
<body>
	<div id="header">
	
	{% block header %}{% endblock %}
	
	</div>
	
	<div id="content">
	
	{% block content %}{% endblock %}
	
	</div>
	
	
	<div id="footer">
		<div>
			<center>
				<p>
					<br>
					&copy; 2017 by BG. All rights reserved.
					<br>
					<a href="https://github.com/wandrews1/BGWarehouse" id="gitlab"><img src="/static/images/original_bg_products.png" width=150px></a>
				</p>
			</center>
		</div>
	</div>
	
</body>
</html>
