{% extends "layout.html" %}


{% block header %}
	<div class="container-fluid headerbanner">
		<br>
		<!-- Logo on top -->
		<!--<img src="/static/images/original_bg_products.png" width=150px>-->
		<br>
		<br>
	</div>
	<div class="container-fluid bgblack">
			<ul id="navigation">
				<!--<li class="selected">-->
				<!--	<a href="/form"><p class="faceboard3">Signup</p></a>-->
				<!--</li>-->
				<li>
					<a href="/login"><p class="faceboard3">Login</p></a>
				</li>
			</ul>
		<br>
	</div>

{% endblock %}


{% block content %}
<br>
<br>
<center>

 	<div class="container-fluid card50">
		<div class="card">

			<h3 class="card-header faceboard2">
				BG Member Login
			</h3>
			
			<div class="card-body">
				
				<form method="POST" action="/search">
					<div class="col-lg-6">
			  			<div class="row">
			    				<div class="input-group">
			      					<span class="input-group-btn">
			        					<button class="btn btn-dark" type="button">Email</button>
			      					</span>
			      					<input type="email" class="form-control" name="username" placeholder="username@bg.com" />
			    				</div>
						</div>
						
						<br>
						
						<div class="row">
			    				<div class="input-group">
			      					<span class="input-group-btn">
			        					<button class="btn btn-dark" type="button" >Password</button>
			      					</span>
			      					<input type="password" class="form-control" name="password" placeholder="P@55w0Rd!"/>
			    				</div>
						</div>
						
						<br>
			  			
			  			<input type="submit" value="LOGIN" class="faceboardSubmit btn btn-outline-dark" />
		  			</div>
				</form>
				
			</div>
		</div>
	</div>
</center>
<br>	
{% endblock %}