{% extends "layout.html" %}


{% block header %}
<a href="/form" class="logo" style="text-decoration:none">
			<p class="faceboard">FACEBOARD</p>
		</a>
		<ul id="navigation">
			<li>
				<a href="/form"><p class="faceboard3">Signup</p></a>
			</li>
			<li class="selected">
				<a href="/login"><p class="faceboard3">Login</p></a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br>
<br>
 	<center>
 		 
		<form method="POST" action="/chat">
			<table>
				<tr>
					<td>Email: </td>
					<td><input type="email" name="username" placeholder="Email Address" /></td>
				</tr>
				<tr>
					<td>Password: </td>
					<td><input type="password" name="password" placeholder="Password"/></td>
				</tr>
				<br>
			</table>
			<input type="submit" value="LOGIN" class="faceboardSubmit" />
		</form>
		<br>
	</center>
<br>	
{% endblock %}