{% extends "layout.html" %}


{% block header %}
<a href="/form" class="logo">
			<img src="static/faceboard/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/form">Signup</a>
			</li>
			<li class="selected">
				<a href="/login">Login</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br>
<br>
 	<center>
 		 <img src="static/faceboard/login.png" alt="signup">

		<form method="POST" action="/chat">
			<table>
				<tr>
					<td>Email: </td>
					<td><input type="email" name="username" placeholder="Email Address" /></td>
				</tr>
				<tr>
					<td>Password: </td>
					<td><input type="password" name="password" placeholder="Password"/></td>
				</tr>
				<br>
			</table>
			<input type="submit" value="Login" />
		</form>
		<br>
	</center>
<br>	
{% endblock %}