{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="/search"><img src="/static/images/original_bg_products.png" width=50px></a>
	
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>

		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
			
				{% if ( ( user[5] == 'Administrator') ):  %}
					<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Administrator</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/addwarehouse"><span class="bg3">Add Warehouse</span></a>
				        </div>
      				</li>
					
				{% endif %}
				
				{% if ( ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3 selected">Manager</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="/form" class="dropdown-item"><span class="bg3">New Registration</span></a>
							<a href="/remove" class="dropdown-item"><span class="bg3 selected">Remove Account</span></a>
							<a href="/manageitems" class="dropdown-item"><span class="bg3">Manage Items</span></a>
				        </div>
      				</li>

				{% endif %}
				
				{% if ( ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Sales Associate</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="/altercustomer" class="dropdown-item"><span class="bg3">Edit Profile</span></a>
				        </div>
      				</li>
				{% endif %}
				
				{% if ( ( user[5] == 'Customer') or ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Customer</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					        <a href="/search" class="dropdown-item"><span class="bg3">Product Search</span></a>
							<a href="/invoice" class="dropdown-item"><span class="bg3">Invoice</span></a>
				        </div>
      				</li>
				{% endif %}
				
			</ul>
	
			<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
				<li class="nav-item"><a href="/profile" class="nav-link"><span class="bg3"><i class="fa fa-user" aria-hidden="true"></i>{{user[2]}} - {{user[5]}}</span></a></li>
				<li class="nav-item"><a href="/logout" class="nav-link"><span class="bg3"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</span></a></li>
				<li class="nav-item"><a href="/cart" class="nav-link"><span class="bg3"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart </span><spanNotification class="badge badge-pill badge-danger">{{cartCount}}</span></a></li>
			</ul>

		</div>
	</div>
</nav>

{% endblock %}


{% block content %}
<br>
<br>
<center>
 	<div class="container-fluid card50 max">
 		<!-- replace action below with destination html; "/form2" was there before I disabled it -->
		<form method="POST" action="/removeresults"> 
			
			<h3 class="bg2">
				Remove Account
			</h3>
			
			<br>
			<br>
			
			<table>
				<tr>
					<td class="right">First Name: </td>
					<td><input type="text" class="form-control" name="fname" placeholder="John" /></td>
				</tr>
				<tr>
					<td class="right">Last Name: </td>
					<td><input type="text" class="form-control" name="lname" placeholder="Smith" /></td>
				</tr>
				<tr>
					<td class="right">Email: </td>
					<td><input type="email" class="form-control" name="email" placeholder="john.smith@bg.com" /></td>
				</tr>
			
				<tr>
					<td class="right">User Level:</td>
					<td>
						<!--<input class="form-control" list="level">-->
						<!--<datalist id="level">-->
						<!--	<option value="Customer">-->
						<!--	<option value="Sales Associate">-->
						<!--	<option value="Manager">-->
						<!--	<option value="Admin">-->
						<!--</datalist>-->
						
						<select class="form-control" name="userlevel" id="userlevel"/>
						
						
							{% if ( ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
							<option value="Sales Associate">Sales Associate</option>
							{% endif %}
							
							{% if ( ( user[5] == 'Administrator') ):  %}
							<option value="Manager">Manager</option>
							<option value="Admin">Administrator</option>
							{% endif %}
							
						</select>
						
					</td>
				</tr>

				
			</table>
			
			<br>
			
			<input type="submit" value="SUBMIT"  class="bgSubmit btn btn-outline-dark"/>
			
			<br>
			<br>
			
			<h6>
				All fields required for removal.
			</h6>
		</form>
	</div>
</center>
<br>	
{% endblock %}