{% extends "layout.html" %}


{% block header %}
<a href="/" class="logo">
			<img src="static/images/logo1.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/about">About Me</a>
			</li>
			<li>
				<a href="/gallery">Gallery</a>
			</li>
			<li class="selected">
				<a href="/rickroll">Rick</a>
			</li>
			<li>
				<a href="/contact">Contact</a>
			</li>
		</ul>
{% endblock %}

{% block content %}
 <center><h1>Rick Astley</h1></center>
 
        <center>
        <span class="center"><img src="/static/images/rickrollheader.png" width='700' /></span>
        <br>
        <br>
        <h3>You've been Rick Roll'd.</h3>
        <p>{{lyrics}}</p>
		<br>
		</center>
{% endblock %}