{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="#"><img src="/static/images/original_bg_products.png" width=50px></a>
	
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>

		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
			
				{% if ( ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/admin" class="nav-link"><p class="bg3">Admin</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/manager" class="nav-link"><p class="bg3">Manager</p></a></li>
					<li class="nav-item"><a href="/form" class="nav-link"><p class="bg3">New Registration</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<li class="nav-item"><a href="/sales" class="nav-link"><p class="bg3">Sales Associate</p></a></li>
				{% endif %}
				
				{% if ( ( user[5] == 'Customer') or ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
					<!--<li class="nav-item"><a href="/profile" class="nav-link"><p class="bg3">Customer</p></a></li>-->
					<li class="nav-item selected"><a href="/search" class="nav-link"><p class="bg3">Product Search</p></a></li>
				{% endif %}
				
			</ul>
	
			<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
				<li class="nav-item"><a href="/profile" class="nav-link"><p class="bg3">{{user[2]}} - {{user[5]}}</p></a></li>
				<li class="nav-item"><a href="/logout" class="nav-link"><p class="bg3">Logout</p></a></li>
			</ul>

		</div>
	</div>
</nav>

{% endblock %}


{% block content %}
<br>
<br>
<center>
	<form method="POST" action="/searchresults">
		<div class="container-fluid card50">
			<div class="card">
	
				<h3 class="card-header bg2">
					Search Inventory
				</h3>
				
				<div class="card-body">
	
					<!--<div class="form-check">-->
					<!--	<label class="form-check-label">-->
					<!--		<input class="form-check-input" type="radio" name="cat" value="">-->
					<!--		Name-->
					<!--	</label>-->
					<!--</div>-->
					
					<!--<div class="form-check">-->
					<!--	<label class="form-check-label">-->
					<!--		<input type="radio" name="cat" class="form-check-input" value="category" /> -->
					<!--		Category-->
					<!--		</label>-->
					<!--</div>-->
					
					<!--<div class="form-check">-->
					<!--	<label class="form-check-label">-->
					<!--		<input type="radio" name="cat" class="form-check-input" value="subcategory" /> -->
					<!--		Subcategory-->
					<!--	</label>-->
					<!--</div>-->
					
					<!--<div class="form-check">-->
					<!--	<label class="form-check-label">-->
					<!--		<input type="radio" name="cat" class="form-check-input" value="address" /> -->
					<!--		Address-->
					<!--	</label>-->
					<!--</div>-->
					
					<!--<div class="form-check">-->
					<!--	<label class="form-check-label">-->
					<!--		<input type="radio" name="cat" class="form-check-input" value="city" /> -->
					<!--		City-->
					<!--	</label>-->
					<!--</div>-->
					
					<!--<div class="form-check">-->
					<!--	<label class="form-check-label">-->
					<!--		<input type="radio" name="cat" class="form-check-input" value="state" /> -->
					<!--		State-->
					<!--	</label>-->
					<!--</div>-->
					
					
					<!--<br>-->
					
					<div>
						<input type="search" name="search" class="form-control" placeholder="Search Term" />
					</div>
					
					<br>
					
					<!--<div>-->
					<!--	Search limited to area code: {{user[3]}}-->
					<!--</div>-->
					
					<div>
						<input type="submit" value="SEARCH" class="faceboardSubmit btn btn-outline-dark"/>
						<br>
					</div>
				</div>
			</div>
		</div>
	</form> 
<br>
</center>

{% endblock %}