{% extends "layout.html" %}


{% block header %}
<a href="/form" class="logo">
			<img src="static/faceboard/search.png" alt="">
		</a>
		<ul id="navigation">
			<li>
				<a href="/chat">Chat</a>
			</li>
			<li>
				<a href="/gallery">Gallery</a>
			</li>
			<li class="selected">
				<a href="/search">Search</a>
			</li>
			<li>
				<a href="/form3">Database</a>
			</li>
			<li>
				<a href="https://gitlab.com/wandrews1/webserver">GitLab</a>
			</li>
			<li>
				<a href="/logout">{{user[2]}}{{user[4]}}</a>
			</li>
		</ul>
{% endblock %}


{% block content %}
<br><br><br>
        <center>
        	<form method="POST" action="/searchresults">
        		<table>
        			<tr>
        				Search By:
        			</tr>
					<tr>
						<td>
							<input type="radio" name="cat" value="name" checked/> Name<br>
						</td>
						<td>
							<input type="radio" name="cat" value="category" /> Category<br>
						</td>
						<td>
							<input type="radio" name="cat" value="subcategory" /> Subcategory<br>
						</td>
						<td>
							<input type="radio" name="cat" value="address" /> Address<br>
						</td>
						<td>
							<input type="radio" name="cat" value="city" /> City<br>
						</td>
						<td>
							<input type="radio" name="cat" value="state" /> State<br>
						</td>
						<td>
							<input type="radio" name="cat" value="country" /> Country<br>
						</td>
						<td>
							<input type="radio" name="cat" value="phone" /> Phone<br>
						</td>
					</tr>
				<br>
				</table>
				<table align="center">
					<tr>
						<td><input type="search" name="search" placeholder="Search" /></td>
					</tr>
					<tr>
						<td>{{user[3]}}</td>
					</tr>
					<tr>
						<td><input type="submit" value="Search" /></td>
					</tr>
				</table>
				<br>
				
				
      		
  			</form> 
        <br>
        </center>
        
{% endblock %}