{% extends "layout.html" %}


{% block header %}
			<div class="container-fluid headerbanner">
				<br>
				<br>
				<br>
			</div>
			<div class="container-fluid bgblack">
					<ul id="navigation">
						<li>
							<a href="/manager"><p class="faceboard3">Manager</p></a>
						</li>
						<li>
							<a href="/form"><p class="faceboard3">New Registration</p></a>
						</li>
						<li class="selected">
							<a href="/search"><p class="faceboard3">Search</p></a>
						</li>
						<li>
							<a href="/logout"><p class="faceboard3">{{user[2]}}{{user[4]}}</p></a>
						</li>
					</ul>
				<br>
			</div>

{% endblock %}


{% block content %}
<br><br><br>
        <center>
        	<form method="POST" action="/searchresults">

        		<p class="faceboard2">Search By:</p>
				
				<br><br>
				
				<div class="form-check">
					<label class="form-check-label">
						<input class="form-check-input" type="radio" name="cat" value="name">
						Name
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" name="cat" class="form-check-input" value="category" /> 
						Category
						</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" name="cat" class="form-check-input" value="subcategory" /> 
						Subcategory
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" name="cat" class="form-check-input" value="address" /> 
						Address
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" name="cat" class="form-check-input" value="city" /> 
						City
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" name="cat" class="form-check-input" value="state" /> 
						State
					</label>
				</div>
				<div class="form-check">
					<label class="form-check-label">
						<input type="radio" name="cat" class="form-check-input" value="country" /> 
						Country
					</label>
				</div>
				
				<br>
				
				<div>
					<input type="search" name="search" class="form-control" placeholder="Search Term" />
				</div>
				
				<br>
				
				<div>
					Search limited to area code: {{user[3]}}
				</div>
				
				<br>

				<div>
					<input type="submit" value="SEARCH" class="faceboardSubmit btn btn-outline-dark"/>
					<br>
				</div>
  			</form> 
        <br>
        </center>
        
{% endblock %}