{% extends "layout.html" %}


{% block header %}
			<div class="container-fluid headerbanner">
				<br>
				<br>
				<br>
			</div>
			<div class="container-fluid bgblack">
					<ul id="navigation">
						<li>
							<a href="/manager"><p class="faceboard3">Manager</p></a>
						</li>
						<li>
							<a href="/form"><p class="faceboard3">New Registration</p></a>
						</li>
						<li class="selected">
							<a href="/search"><p class="faceboard3">Search</p></a>
						</li>
						<li>
							<a href="/logout"><p class="faceboard3">{{user[2]}}{{user[4]}}</p></a>
						</li>
					</ul>
				<br>
			</div>

{% endblock %}


{% block content %}
<br>
<br>

        <center>

			<p class="faceboard3">RESULTS</p>
  		
  		
  		<form>
    		<table>	
				<tr>
					<th>ProductID</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Category</th>
					<th>Name</th>
					<th>Description</th>
				</tr>
			
				{% for item in results %}
						
				<tr>
					<td>{{item[0]}}</td>
					<td>{{item[1]}}</td>
					<td>{{item[2]}}</td>
					<td>{{item[3]}}</td>
					<td>{{item[4]}}</td>
					<td>{{item[5]}}</td>

				</tr>
				{% endfor %}
			</table>
  		</form> 
        <br>
        </center>
        
{% endblock %}