{% extends "layout.html" %}


{% block header %}
<div class="container-fluid headerbanner">
	<br>
	<br>
	<br>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bgblack" role="navigation">
	<div class="container-fluid">
	
		<a class="navbar-brand" href="/search"><img src="/static/images/original_bg_products.png" width=50px></a>
	
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
			&#9776;
		</button>

		<div class="collapse navbar-collapse" id="exCollapsingNavbar">
			<ul class="nav navbar-nav">
			
				{% if ( ( user[5] == 'Administrator') ):  %}
					<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3 selected">Administrator</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="/addwarehouse"><span class="bg3 selected">Add Warehouse</span></a>
				        </div>
      				</li>
					
				{% endif %}
				
				{% if ( ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Manager</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="/form" class="dropdown-item"><span class="bg3">New Registration</span></a>
							<a href="/remove" class="dropdown-item"><span class="bg3">Remove Account</span></a>
							<a href="/manageitems" class="dropdown-item"><span class="bg3">Manage Items</span></a>
				        </div>
      				</li>

				{% endif %}
				
				{% if ( ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Sales Associate</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a href="/altercustomer" class="dropdown-item"><span class="bg3">Edit Profile</span></a>
				        </div>
      				</li>
				{% endif %}
				
				{% if ( ( user[5] == 'Customer') or ( user[5] == 'Sales Associate') or ( user[5] == 'Manager') or ( user[5] == 'Administrator') ):  %}
				<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          					<span class="bg3">Customer</span>
        				</a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					        <a href="/search" class="dropdown-item"><span class="bg3">Product Search</span></a>
							<a href="/invoice" class="dropdown-item"><span class="bg3">Invoice</span></a>
				        </div>
      				</li>
				{% endif %}
				
			</ul>
	
			<ul class="nav navbar-nav flex-row justify-content-between ml-auto">
				<li class="nav-item"><a href="/profile" class="nav-link"><span class="bg3"><i class="fa fa-user" aria-hidden="true"></i>{{user[2]}} - {{user[5]}}</span></a></li>
				<li class="nav-item"><a href="/logout" class="nav-link"><span class="bg3"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</span></a></li>
				<li class="nav-item"><a href="/cart" class="nav-link"><span class="bg3"><i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart </span><spanNotification class="badge badge-pill badge-danger">{{cartCount}}</span></a></li>
			</ul>

		</div>
	</div>
</nav>

{% endblock %}
{% block content %}
<br>
<br>
<center>
    
<div class="container-fluid card50">
        
        <h3 class="bg2">
            Warehouse Creation
        </h3>           

        <br>
        <br>
    {% if (noresults == 0) and (noemail == 0): %}
    	<div class="container-fluid">
			<div class="alert alert-success" role="alert">
				<h3 class="alert-heading" style="text-align:left;"><strong>Warehouse Created:</strong></h3>
				<br>
				<hr>
				<div style="text-align:left;">The warehouse owned by {{owner}} has successfully been created.</div>
			</div>
		</div>
		
    {% endif %}
    
    
    {% if (noresults == 1) or (noemail == 1) or (noware == 1): %}
        <div class="container-fluid">
			<div class="alert alert-danger" role="alert">
				<h3 class="alert-heading" style="text-align:left;"><strong>Error:</strong></h3>
				<br>
				<div style="text-align:left;"><strong> Warehouse owned by {{owner}} could not be created</strong></div>
				<hr>
				{% if (noemail == 1) %}
					<div style="text-align:left;">The email entered is not associated with a bg team member account.</div>
					<div style="text-align:left;">Make sure the email was entered correctly and try again.</div>
				{% endif %}
				
				{% if (noware == 1) %}
					<div style="text-align:left;">The email entered already has a warehouse associated to it.</div>
					<div style="text-align:left;">Please use an email not already associated with a warehouse and try again.</div>
				{% endif %}
			</div>
		</div>
	{% endif %}
    </div>
</center>
<br>


{% endblock %}